@font-face {
  font-family: Robodron-Bold;
  src: url(../public/font/Robodron_Bold.ttf) format("truetype");
  font-weight: bolder;
  font-style: normal
}


@font-face {
  font-family: Robodron;
  src: url(../public/font/Robodron.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: NetflixSans;
  src: url(../public/font/NetflixSans.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

.main {
  width: 100%;
  height: 100%;
}

.mask {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 12px solid #000;
  pointer-events: none;

  .one {
    right: -12px;
    top: -12px;
    width: 63px;
    height: 63px;
    position: absolute;
  }

  .two {
    right: -12px;
    bottom: -12px;
    width: 54px;
    height: 54px;
    position: absolute;
  }

  .three {
    left: -12px;
    top: -12px;
    width: 54px;
    height: 54px;
    position: absolute;
  }

  .four {
    left: -12px;
    bottom: -12px;
    width: 63px;
    height: 63px;
    position: absolute;
  }
}
.toggle {
  color: #fd4635 !important;
  display: none;
}
.navbar {
  position: fixed;
  z-index: 1000;
  top: -39.4px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(1243px*1);
  height: calc(147px*1);
  background: url(../public/img/navbar.png) 0 no-repeat;
  background-size: contain;
  color: white;
  .menu_text_box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(150px*1);
    font-size: calc(14px*1);

    .left_text {
      display: flex;
      align-items: center;

      a {
        color: #B75E70;
        margin: 0 50px;
        font-family: NetflixSans;
        color: #fd4635;
        cursor: pointer;
      }
    }

    .right_text {
      display: flex;
      align-items: center;

      a {
        color: #B75E70;
        margin: 0 50px;
        font-family: NetflixSans;
        color: #fd4635;
        cursor: pointer;
      }
    }
  }
}

.body {
  width: 1030px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 100%;
  margin: 0 auto;
  border-top: none;
  border-bottom: none;
  font-family: NetflixSans;
  .plant_1 {
    // display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10vh 0;
    background: url(../public/img/plant_1_background.png) 50% no-repeat;
    background-size: 50%;
    position: relative;

    .background {
      background: url(../public/img/plant_1_background.png) 50% no-repeat;
      background-size: 50%;
      position: fixed;
    }

    .plant_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      cursor: pointer;
      .community {
        background: url(../public/img/community_btn.png) 100% no-repeat;
        width: 160px;
        height: 50px;
        background-size: cover;

        &:hover {
          background: url(../public/img/community_btn_hover.png) 100% no-repeat;
          width: 160px;
          height: 50px;
          background-size: cover;
        }
      }

      .docs {
        margin-left: 25px;
        background: url(../public/img/docs_btn.png) 100% no-repeat;
        width: 160px;
        height: 50px;
        background-size: cover;

        &:hover {
          background: url(../public/img/docs_btn_hover.png) 100% no-repeat;
          width: 160px;
          height: 50px;
          background-size: cover;
        }
      }
    }
  }

  .title {
    width: 100%;
    height: 70px;
    background: url(../public/img/title.png) 50% no-repeat;
    background-size: cover;
    margin-top: 180px;
    margin-bottom: 40px;
  }

  .tor_box {
    background: url(../public/img/tor_box_background.png) center no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    position: relative;
    display: flex;
    padding: 0 60px;
    align-items: center;
    justify-content: space-evenly;
    display: none ;
    .st {
      text-align: center;

      .title {
        background: none;
        color: #B75E70;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        width: auto;
        height: auto;
        font-family: Robodron;
      }

      .number {
        margin-top: 5px;
        color: white;
        font-size: 34px;
      }
    }

    .line {
      width: 2px;
      height: 60px;
      background-color: #141414;
    }

    .tp {
      text-align: center;

      .title {
        color: #B75E70;
        background: none;
        margin-top: 0;
        font-family: Robodron;
        width: auto;
        margin-bottom: 0;
        font-size: 16px;
        height: auto;
      }

      .number {
        margin-top: 5px;
        color: white;
        font-size: 34px;
        display: flex;
        justify-content: center;

        .unit {
          font-size: 14px;
          margin-top: 5px;
          margin-left: 5px;
        }
      }
    }

  }
}

.effects {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .25;

  .left {
    .effects_1 {
      left: 310px;
      position: absolute;
      top: 10.18519vh;
      height: 79.62963vh;
    }

    .effects_2 {
      left: 50px;
      position: absolute;
      top: 35px;
      height: 8px;
    }

    .effects_3 {
      left: 186px;
      position: absolute;
      top: 117px;
      height: 26px;
    }

    .effects_4 {
      left: 186px;
      position: absolute;
      top: 200px;
      height: 26px;
    }

    .effects_5 {
      left: 130px;
      position: absolute;
      top: 50%;
      width: 150px;
      transform: translateY(-50%);
    }

    .effects_6 {
      left: 150px;
      position: absolute;
      width: 40px;
      bottom: 157px;
    }

    .effects_7 {
      left: 30px;
      position: absolute;
      top: 50%;
      width: 46px;
      transform: translateY(-50%);
    }

    .effects_8 {
      left: 40px;
      position: absolute;
      top: 80px;
      height: 60px;
    }

    .effects_9 {
      left: 40px;
      position: absolute;
      height: 23px;
      bottom: 50px;
    }
  }

  .right {
    .effects_1 {
      right: 310px;
      position: absolute;
      top: 10.18519vh;
      height: 79.62963vh;
      transform: rotateY(180deg);
    }

    .effects_2 {
      right: 50px;
      position: absolute;
      top: 35px;
      height: 8px;
      transform: rotateY(180deg);
    }

    .effects_3 {
      right: 186px;
      position: absolute;
      top: 117px;
      height: 26px;
      transform: rotateY(180deg);
    }

    .effects_4 {
      right: 186px;
      position: absolute;
      top: 200px;
      height: 26px;
      transform: rotateY(180deg);
    }

    .effects_5 {
      right: 130px;
      position: absolute;
      top: 50%;
      width: 150px;
      transform: translateY(-50%);
      transform: rotateY(180deg);
    }

    .effects_6 {
      right: 150px;
      position: absolute;
      width: 40px;
      bottom: 157px;
      transform: rotateY(180deg);
    }

    .effects_7 {
      right: 30px;
      position: absolute;
      top: 50%;
      width: 46px;
      transform: translateY(-50%);
      transform: rotateY(180deg);
    }

    .effects_8 {
      right: 40px;
      position: absolute;
      top: 80px;
      height: 60px;
      transform: rotateY(180deg);
    }

    .effects_9 {
      right: 40px;
      position: absolute;
      height: 23px;
      bottom: 50px;
      transform: rotateY(180deg);
    }
  }
}

.wallet {
  position: fixed;
  right: 0;
  bottom: 0;
  display: inline-block;
  z-index: 9999;
  .img {
    width: 250px;
  }
}

.solgen {
  color: #ffffffe8;
  text-align: center;
  line-height: 26px;
  font-family: Robodron;
  font-size: 15px;
  animation: bink 2s infinite;
}

.buy_box {
  display: flex;
  margin-top: 50px;
  width: 100%;
  justify-content: center;

  .buy {
    background: url(../public/img/buy.png) 100% center no-repeat;
    background-size: cover;
    width: 200px;
    height: 50px;
    border: none;
  }
}

.start {
  color: #63dc7a;
  animation: bink 2s infinite;
}

.plant_2 {
  height: 500px;
  margin-bottom: 100px;
  .plant_2_inner{
    width: 800px;
    margin: 0 auto;
    background: url(../public/instrction.png) no-repeat no-repeat left 170px/auto 60%;
    height: 100%;
    .plant_2_text{
      background: url(../public/instrction_title.png) no-repeat center 180px/105% auto;
      color: #fff;
      height: 100%;
      margin-left: 380px;
      padding-top: 250px;
      font-size: 16px;
      line-height: 1.5em;
    }
  }
  .left {
    float: left;
    width: 45%;
  }

  .right {
    float: right;
    width: 45%;
  }

  .Introduction {
    .title {
      background: none;
      color: #B75E70;
      font-family: Robodron;
      margin-top: 20px;
      height: auto;
      margin-bottom: 15px;
    }

    .text {
      color: #ffffffbf;
      font-size: 14px;
      line-height: 24px;
      margin-top: 30px;
    }
  }

  .vision_title {
    background: none;
    color: #B75E70;
    font-family: Robodron;
    height: auto;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .vision {
    color: white;

    li {
      margin-bottom: 15px;
      font-size: 16px;
      color: #ffffff82;
    }
  }

  .EconomicModel {
    .title {
      background: none;
      color: #B75E70;
      font-family: Robodron;
      height: auto;
      margin-top: 50px;
      margin-bottom: 15px;
    }

    .text {
      color: #ffffffbf;
      line-height: 24px;
      // width: 45%;
      font-size: 14px;
    }
  }
}
.plant_3 {
  background: url(../public/token.png) no-repeat center / auto 90%;
  height: 500px;
}

.plant_4 {
  height: 700px;
  margin-top: 100px;
  .plant_4_title {
    background: url(../public/roadmap_title.png) no-repeat center top/ auto 80px;
    height: 150px;
  }
  ul{
    width: 1000px;
    margin: 0 auto;
    li{
        background: url(../public/roadmap_li.png) no-repeat  center/ 130% auto;
        width: 25%;
        height: 260px;
        display: inline-block;
        box-sizing: border-box;
        color: #fff;
        font-size: 14px;
        padding: 20px 60px 20px 60px;
        line-height: 1.25em;
        vertical-align: top;
        h1{
          color: #eb4233;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p{
          line-height: 1.3em;
          margin: 5px 0;
        }
      }
  }
}

.invite {
  width: 910px;
  margin: 0 auto;
  color: #fff;
  position: relative;
  z-index: 999;
  .invite_titles {
    background: url(../public/img/invite_title.png) center bottom / auto 100% no-repeat;
    height: 80px;
    width: 100%;
    margin-top: 40px;
  }

  .invite_content {
    .invite_left{
      float: left;
      .invite_link {
        background: url(../public/img/invite_people.png) no-repeat center / 100% auto;
        width: 500px;
        height: 190px;
        padding: 65px 90px;
        .invite_text{
          font-size: 14px;
          font-family: NetflixSans;
          float: left;
        }
        .invite_number{
          float: right;
          font-family: NetflixSans;
          b{
            font-size: 40px;
            margin-right: 5px;
            line-height: 1em;
          }
          i{
            font-family: NetflixSans;
            font-style: normal;
          }
        }
      }
      .invite_qrcode{
        background: url(../public/img/invite_link.png) no-repeat center / 100% auto;
        width: 500px;
        height: 430px;
        margin-top: -90px;
        padding: 80px 100px;
        font-size: 14px;
        font-family: NetflixSans;
        .invite_address {
          border: 1px solid #334156;
          border-radius: 4px;
          padding: 5px 8px;
          overflow: hidden;
          margin: 8px 0;
          white-space: nowrap;
        }
        .create_link{
            background: url(../public/img/invite_btn.png) center/ 100% 100% no-repeat;
            border: none;
            color: #fff;
            padding: 0 30px;
            height: 42px;
            cursor: pointer;
            margin: 15px 0;
        }
        .invite_qr{
          margin: 15px 0;
        
          canvas{
            width: 128px !important;
            height: 128px !important;
            float: left;
          }
          .invite_btns {
            float: right;
            button{
              background: url(../public/img/invite_btn.png) center/ 100% auto no-repeat;
              border: none;
              color: #fff;
              width: 140px;
              height: 45px;
              cursor: pointer;
              span{
                display: inline-block;
                width: 90px;
              }
              &.copy_link {
                i{
                  background: url(../public/img/icon_link.png) center/ 100% auto no-repeat;
                  display: inline-block;
                  width: 12px;
                  height: 12px;
                  margin-right: 8px;
                }
              }
              &.download_qr {
                i{
                  background: url(../public/img/icon_qr.png) center/ 100% auto no-repeat;
                  display: inline-block;
                  width: 12px;
                  height: 12px;
                  margin-right: 8px;
                }
              }
            }
          }
        }
      }

    }
    .invite_right{
      float: left;
      .invite_rank{
        background: url(../public/img/invite_rank.png) center/ 100% auto no-repeat;
        width: 500px;
        height: 586px;
        margin-left: -110px;
        padding: 60px 110px;
        .invite_title{
            font-size: 14px;
            font-family: NetflixSans;
        }
        .invite_table{
          border-radius: 5px;
          border: 1px solid #FF0000;
          overflow: hidden;
          width: 100%;
          margin-top: 10px;
        }
        table{
          font-size: 12px;
          font-family: NetflixSans;
          width: 101%;
          margin: -1px 10px -1px -1px;
          tr{
            &:nth-child(odd){
              background: #0F1319;
            }
            &:nth-child(even) {
              background: #191d22;
            }
            th{
              border: 1px solid #FF0000;
              text-align: center;
              padding:7px 10px;
              font-size: 14px;
              color: #FF0000;
              font-weight: bold;
            }
            td{
              border: 1px solid #FF0000;
              text-align: center;
              padding:7px 10px;
            }
          }
        }
      }
    }
  }
}



@keyframes bink {
  0% {
    opacity: 0.25;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.37;
  }

  75% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.25;
  }
}

@media screen and (max-width: 500px) {
  .main {
    width: 100%;
    height: 100%;
  }

  .mask {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 12px solid #000;
    pointer-events: none;

    .one {
      right: -12px;
      top: -12px;
      width: 63px;
      height: 63px;
      position: absolute;
    }

    .two {
      right: -12px;
      bottom: -12px;
      width: 54px;
      height: 54px;
      position: absolute;
    }

    .three {
      left: -12px;
      top: -12px;
      width: 54px;
      height: 54px;
      position: absolute;
    }

    .four {
      left: -12px;
      bottom: -12px;
      width: 63px;
      height: 63px;
      position: absolute;
    }
  }

  .mobile_nav {
    display: none;
    &.hide{
      display: block;
    }
  }
  .toggle {
    color: #B75E70;
    display: block;
    position: fixed;
    right: 20px;
    top: 10px;
    font-size: 40px;
    z-index: 9998;
    font-style: normal;
    cursor: pointer;
  }
  .navbar {
    position: fixed;
    z-index: 1000;
    top: -39.4px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(1243px*1);
    height: calc(147px*1);
    background: url(../public/img/navbar.png) 0 no-repeat;
    background-size: contain;
    color: white;
    .menu_text_box {
      width: 100%;
      height: 100%;
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 0 calc(65px*1);
      font-size: calc(14px*1);
      .left_text {
        display: flex;
        align-items: center;

        a {
          color: #B75E70;
          margin: 0 50px;
        }
      }

      .right_text {
        display: flex;
        align-items: center;

        a {
          color: #B75E70;
          margin: 0 50px;
        }
      }
    }
  }

  .mobile_nav{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999;
    background: #0000006e;
    display: block;
    display: none;
    ul{
      width: 200px;
      background: #000;
      height: 100%;
      float: right;
      padding-top: 70px;
      li{
        color: #fd4635;
        text-align: center;
        padding: 20px 0;
        font-family: NetflixSans;
      }
    }
  }

  .body {
    width: 1030px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    margin: 0 auto;
    border-top: none;
    border-bottom: none;

    .plant_1 {
      // display: flex;
      align-items: center;
      justify-content: center;
      min-height: 70vh;
      padding: 10vh 0;
      background: url(../public/img/plant_1_background.png) 50% 25% no-repeat;
      background-size: 80%;
      position: relative;

      .background {
        background: url(../public/img/plant_1_background.png) 50% no-repeat;
        background-size: 50%;
        position: fixed;
      }

      .plant_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        .community {
          background: url(../public/img/community_btn.png) 100% no-repeat;
          width: 150px;
          height: 50px;
          background-size: 100% auto;

          &:hover {
            background: url(../public/img/community_btn_hover.png) 100% no-repeat;
            width: 160px;
            height: 50px;
          }
        }

        .docs {
          margin-left: 25px;
          background: url(../public/img/docs_btn.png) 100% no-repeat;
          width: 160px;
          height: 50px;
          background-size: cover;

          &:hover {
            background: url(../public/img/docs_btn_hover.png) 100% no-repeat;
            width: 160px;
            height: 50px;
            background-size: cover;
          }
        }
      }
    }
    .plant_2 {
      height: 500px;
      margin-bottom: 100px;

      .plant_2_inner {
        width: 800px;
        margin: 0 auto;
        background: url(../public/instrction.png) no-repeat center left/auto 50%;
        height: 100%;

        .plant_2_text {
          background: url(../public/instrction_title.png) no-repeat center 180px/105% auto;
          color: #fff;
          height: 100%;
          margin-left: 380px;
          padding-top: 250px;
          font-size: 16px;
          line-height: 1.5em;
        }
      }

      .left {
        float: left;
        width: 45%;
      }

      .right {
        float: right;
        width: 45%;
      }

      .Introduction {
        .title {
          background: none;
          color: #B75E70;
          font-family: Robodron;
          margin-top: 20px;
          height: auto;
          margin-bottom: 15px;
        }

        .text {
          color: #ffffffbf;
          font-size: 14px;
          line-height: 24px;
          margin-top: 30px;
        }
      }

      .vision_title {
        background: none;
        color: #B75E70;
        font-family: Robodron;
        height: auto;
        margin-bottom: 15px;
        margin-top: 20px;
      }

      .vision {
        color: white;

        li {
          margin-bottom: 15px;
          font-size: 16px;
          color: #ffffff82;
        }
      }

      .EconomicModel {
        .title {
          background: none;
          color: #B75E70;
          font-family: Robodron;
          height: auto;
          margin-top: 50px;
          margin-bottom: 15px;
        }

        .text {
          color: #ffffffbf;
          line-height: 24px;
          // width: 45%;
          font-size: 14px;
        }
      }
    }
    .plant_3 {
      background: url(../public/token.png) no-repeat center / auto 90%;
      height: 500px;
    }

    .plant_4 {
      height: 700px;

      .plant_4_title {
        background: url(../public/roadmap_title.png) no-repeat center top/ auto 80px;
        height: 200px;
      }

      ul {
        width: 1000px;
        margin: 0 auto;
        li {
          background: url(../public/roadmap_li.png) no-repeat center/ 100% auto;
          width: 33%;
          height: 270px;
          display: inline-block;
          box-sizing: border-box;
          color: #fff;
          font-size: 13px;
          padding: 22px 73px 18px 84px;
          line-height: 1.2em;
        }
      }
    }


    .title {
      width: 100%;
      height: 70px;
      background: url(../public/img/title.png) 50% no-repeat;
      // background-size: cover;
      margin-top: 60px;
      margin-bottom: 40px;
      background-size:100% auto;
    }

    .tor_box {
      background: url(../public/img/tor_box_background.png) center no-repeat;
      background-size: cover;
      height: 350px;
      width: 100%;
      position: relative;
      display: flex;
      padding: 0 60px;
      align-items: center;
      justify-content: space-evenly;
      display: none;

      .st {
        text-align: center;

        .title {
          background: none;
          color: #B75E70;
          margin-top: 0;
          margin-bottom: 0;
          font-size: 16px;
          width: auto;
          height: auto;
          font-family: Robodron;
        }

        .number {
          margin-top: 5px;
          color: white;
          font-size: 34px;
        }
      }

      .line {
        width: 2px;
        height: 60px;
        background-color: #141414;
      }

      .tp {
        text-align: center;

        .title {
          color: #B75E70;
          background: none;
          margin-top: 0;
          font-family: Robodron;
          width: auto;
          margin-bottom: 0;
          font-size: 16px;
          height: auto;
        }

        .number {
          margin-top: 5px;
          color: white;
          font-size: 34px;
          display: flex;
          justify-content: center;

          .unit {
            font-size: 14px;
            margin-top: 5px;
            margin-left: 5px;
          }
        }
      }

    }
  }

  .effects {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .25;

    .left {
      .effects_1 {
        left: 310px;
        position: absolute;
        top: 10.18519vh;
        height: 79.62963vh;
      }

      .effects_2 {
        left: 50px;
        position: absolute;
        top: 35px;
        height: 8px;
      }

      .effects_3 {
        left: 186px;
        position: absolute;
        top: 117px;
        height: 26px;
      }

      .effects_4 {
        left: 186px;
        position: absolute;
        top: 200px;
        height: 26px;
      }

      .effects_5 {
        left: 130px;
        position: absolute;
        top: 50%;
        width: 150px;
        transform: translateY(-50%);
      }

      .effects_6 {
        left: 150px;
        position: absolute;
        width: 40px;
        bottom: 157px;
      }

      .effects_7 {
        left: 30px;
        position: absolute;
        top: 50%;
        width: 46px;
        transform: translateY(-50%);
      }

      .effects_8 {
        left: 40px;
        position: absolute;
        top: 80px;
        height: 60px;
      }

      .effects_9 {
        left: 40px;
        position: absolute;
        height: 23px;
        bottom: 50px;
      }
    }

    .right {
      .effects_1 {
        right: 310px;
        position: absolute;
        top: 10.18519vh;
        height: 79.62963vh;
        transform: rotateY(180deg);
      }

      .effects_2 {
        right: 50px;
        position: absolute;
        top: 35px;
        height: 8px;
        transform: rotateY(180deg);
      }

      .effects_3 {
        right: 186px;
        position: absolute;
        top: 117px;
        height: 26px;
        transform: rotateY(180deg);
      }

      .effects_4 {
        right: 186px;
        position: absolute;
        top: 200px;
        height: 26px;
        transform: rotateY(180deg);
      }

      .effects_5 {
        right: 130px;
        position: absolute;
        top: 50%;
        width: 150px;
        transform: translateY(-50%);
        transform: rotateY(180deg);
      }

      .effects_6 {
        right: 150px;
        position: absolute;
        width: 40px;
        bottom: 157px;
        transform: rotateY(180deg);
      }

      .effects_7 {
        right: 30px;
        position: absolute;
        top: 50%;
        width: 46px;
        transform: translateY(-50%);
        transform: rotateY(180deg);
      }

      .effects_8 {
        right: 40px;
        position: absolute;
        top: 80px;
        height: 60px;
        transform: rotateY(180deg);
      }

      .effects_9 {
        right: 40px;
        position: absolute;
        height: 23px;
        bottom: 50px;
        transform: rotateY(180deg);
      }
    }
  }

  .wallet {
    position: fixed;
    right: 0;
    bottom: 0;
    display: inline-block;

    .img {
      width: 250px;
    }
  }

  .solgen {
    color: #ffffffe8;
    text-align: center;
    line-height: 26px;
    font-family: Robodron;
    font-size: 15px;
    animation: bink 2s infinite;
  }

  .buy_box {
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: center;

    .buy {
      background: url(../public/img/buy.png) 100% center no-repeat;
      background-size: cover;
      width: 200px;
      height: 50px;
      border: none;
    }
  }

  .start {
    color: #63dc7a;
    animation: bink 2s infinite;
  }

  .plant_2 {
    height: 500px !important;
    margin-bottom: 0px !important;

    .plant_2_inner {
      width: 100% !important;
      margin: 0 auto;
      background: url(../public/instrction.png) no-repeat left 80px/auto 50%;
      height: 100%;

      .plant_2_text {
        background: url(../public/instrction_title.png) no-repeat left 10px/120% auto !important;
        color: #fff;
        height: 100%;
        margin-left: 0 !important;
        padding-top: 70px !important;
        font-size: 16px;
        line-height: 1.5em;
      }
    }

    .left {
      float: left;
      width: 45%;
    }

    .right {
      float: right;
      width: 45%;
    }

    .Introduction {
      .title {
        background: none;
        color: #B75E70;
        font-family: Robodron;
        margin-top: 20px;
        height: auto;
        margin-bottom: 15px;
      }

      .text {
        color: #ffffffbf;
        font-size: 14px;
        line-height: 24px;
        margin-top: 30px;
      }
    }

    .vision_title {
      background: none;
      color: #B75E70;
      font-family: Robodron;
      height: auto;
      margin-bottom: 15px;
      margin-top: 20px;
    }

    .vision {
      color: white;

      li {
        margin-bottom: 15px;
        font-size: 16px;
        color: #ffffff82;
      }
    }

    .EconomicModel {
      .title {
        background: none;
        color: #B75E70;
        font-family: Robodron;
        height: auto;
        margin-top: 50px;
        margin-bottom: 15px;
      }

      .text {
        color: #ffffffbf;
        line-height: 24px;
        // width: 45%;
        font-size: 14px;
      }
    }
  }

  .plant_3 {
    background: url(../public/token_m.png) no-repeat center / 100% auto !important;
    height: 600px !important;
  }

  .plant_4 {
    height: 1250px !important;

    .plant_4_title {
      background: url(../public/roadmap_title.png) no-repeat center top/ auto 80px;
      height: 100px !important;
    }

    ul {
      width: 100% !important;
      margin: 0 auto;

      li {
        background: url(../public/roadmap_li.png) no-repeat center/ 100% auto;
        width: 100% !important;
        height: 270px;
        display: inline-block;
        box-sizing: border-box;
        color: #fff;
        font-size: 14px;
        padding: 22px 73px 18px 84px;
        line-height: 1.1em;
      }
    }
  }

  .invite {
    width: 100%;
    margin: 0 auto;
    color: #fff;
    position: relative;
    z-index: 999;

    .invite_titles {
      background: url(../public/img/invite_title.png) center bottom / auto 100% no-repeat;
      height: 80px;
      width: 100%;
      margin-top: 90px;
    }

    .invite_content {
      .invite_left {
        float: left;
        width: 100%;
        .invite_link {
          background: url(../public/img/invite_people.png) no-repeat center / 100% auto;
          width: 100%;
          height: 190px;
          padding: 65px 80px;
          .invite_text {
            font-size: 14px;
            font-family: NetflixSans;
            float: left;
          }

          .invite_number {
            float: right;
            font-family: NetflixSans;

            b {
              font-size: 40px;
              margin-right: 5px;
              line-height: 1em;
            }

            i {
              font-family: NetflixSans;
              font-style: normal;
            }
          }
        }

        .invite_qrcode {
          background: url(../public/img/invite_link.png) no-repeat center / 100% auto;
          width: 100%;
          height: 340px;
          margin-top: -90px;
          padding: 60px 65px;
          font-size: 14px;
          font-family: NetflixSans;
          .invite_address {
            border: 1px solid #334156;
            border-radius: 4px;
            padding: 5px 8px;
            overflow: hidden;
            margin: 8px 0;
            white-space: nowrap;
          }

          .create_link {
            background: url(../public/img/invite_btn.png) center/ 100% 100% no-repeat;
            border: none;
            color: #fff;
            padding: 0 30px;
            height: 42px;
            cursor: pointer;
            margin: 15px 0;
          }

          .invite_qr {
            margin: 15px 0;
            canvas{
              width: 110px !important;
              height: 110px !important;
            }
            .invite_btns {
              float: right;

              button {
                background: url(../public/img/invite_btn.png) center/ 100% auto no-repeat;
                border: none;
                color: #fff;
                width: 140px;
                height: 45px;
                cursor: pointer;

                span {
                  display: inline-block;
                  width: 90px;
                }

                &.copy_link {
                  i {
                    background: url(../public/img/icon_link.png) center/ 100% auto no-repeat;
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    margin-right: 8px;
                  }
                }

                &.download_qr {
                  i {
                    background: url(../public/img/icon_qr.png) center/ 100% auto no-repeat;
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    margin-right: 8px;
                  }
                }
              }
            }
          }
        }

      }

      .invite_right {
        float: left;
        width: 100%;
        .invite_rank {
          background: url(../public/img/invite_rank.png) center/ 100% auto no-repeat;
          width: 100%;
          height: 395px;
          margin-left: 0;
          padding: 10px 90px;
          .invite_title {
            font-size: 14px;
            font-family: NetflixSans;
          }

          .invite_table {
            border-radius: 5px;
            border: 1px solid #FF0000;
            overflow: hidden;
            width: 100%;
            margin-top: 10px;
          }

          table {
            font-size: 12px;
            font-family: NetflixSans;
            width: 101%;
            margin: -1px 10px -1px -1px;

            tr {
              &:nth-child(odd) {
                background: #0F1319;
              }

              &:nth-child(even) {
                background: #191d22;
              }

              th {
                border: 1px solid #FF0000;
                text-align: center;
                padding: 7px 10px;
                font-size: 14px;
                color: #FF0000;
                font-weight: bold;
              }

              td {
                border: 1px solid #FF0000;
                text-align: center;
                padding: 7px 10px;
              }
            }
          }
        }
      }
    }
  }

}